*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: 	#121212;
    font-family: "Segoe UI", "Roboto", sans-serif;
}

button{
    cursor: pointer;
}

/*header styling*/
header nav{
    width: 100%;
    height: 4rem;
    padding: .5rem;
    background-color: rgb(245, 239, 118);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1000;
}

.menu-options{
    flex: 0 0 auto; 
    width: 1.7rem;
    padding: .2rem;
    border: none;
    border-radius: 2px;
}
.search-bar{
    flex: 1 1 auto;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    margin: auto .5rem;
}
.username{
    flex: 0 0 auto;
    font-size: small;
    text-decoration: underline;
    cursor: pointer;
}
.user-name-field{
    display: flex;
    flex-direction: column;
    align-items: center;

}

/*main styling*/
.container{
    max-width: 1200px;
    padding: 1rem;
    margin: 0 auto;
    padding-top: 5rem;
}
.posts{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: .5rem;
}
.post-card{
    background-color: #f0f8ff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.image-post{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.caption{
    padding: .5rem;
    font-size: 1rem;
    text-align: center;
}
.comment-and-like{
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.likes-field{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.comment-and-like span{
    text-align: center;
}
.comments-field{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.comment-and-like button{
    width: 6rem;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    min-height: 2.5rem;
}
.on-like{
    transform: scale(.95);
    background-color: gold;
}
.add-post{
    width: 3.5rem;
    height: 3.5rem;
    font-size: large;
    border: none;
    border-radius: 50%;
    background-color: lightblue;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    transition: all .13s ease-in-out;
}

.add-post:active{
    transform: scale(.98);
}

/*upload form pop-up*/
.hidden{
    display: none !important;
}
.form-container{

    visibility: hidden;
    opacity: 0;
    transition: all .5s ease;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    z-index: 1000;
    transition: all .4s ease-in-out;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.1);
}

.upload-form{
    width: 100%;
    max-width: 500px;
    height: 40vh;
    background-color: aliceblue;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.182);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 2rem;
}
.form-container.show{
    visibility: visible;
    opacity: 1;
}
.upload-form textarea{
    padding: .5rem;
    border-radius: .3rem;
    width: 100%;
}
.form-buttons{
    display: flex;
    gap: 2rem;
}
.form-buttons button{
    padding: .2rem;
    width: 5rem;
    border-radius: .3rem;
    border: none;
    cursor: pointer;
}
.form-buttons .submit-post{
    background-color: lightgreen;
}
.form-buttons .cancel-post{
    background-color: rgb(219, 89, 89);
}
.post-img{
    padding: .5rem;
}
.form-container::before{
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px);
    z-index: -1;
}
.status-message{
    padding: .5rem;
}

/*side bar menu styles*/
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    max-width: 300px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: white;
    opacity: .99;
    border-left: 2px solid black;
    border-top: 2px solid black;
    transform: translateX(-100%);
    transition: all .2s ease-in-out;
    z-index: 10001;
}

.sidebar.show{
    transform: translateX(0);
}

.sidebar-options{
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.option{
    padding: .5rem;
    text-align: center;
    background-color: rgb(161, 234, 175);
    width: 100%;
    border-radius: .2rem;
    margin-top: 1rem;
    transition: all .2s ease-in-out;
}
.option:active{
    background-color:rgb(126, 220, 145) ;
    transform: scale(.98);
}

.sidebar::before{
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px);
    z-index: -1;
}
.toggle-menu-sidebar{
    position: absolute;
    top: .7rem;
    left: .7rem;
    padding: .5rem;
    border-radius: .5rem;
    cursor: pointer;
    border: none;
}

/*profile popUP styles*/
.profile-popUp{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    backdrop-filter: blur(3px);
    transition: all .5s ease-in-out;
}

.profile-popUp.show{
    opacity: 1;
    visibility: visible;
}


.profile-options{
    width: 90%;
    max-width: 400px;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue; 
}
.profile-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.profile-options div{
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.profile-options button{
    padding: 0.5rem;
    border: none;
    border-radius: .3rem;
}


/*user posts styles*/
.user-posts-container{
    opacity: 0;
    visibility: hidden;

    max-width: 500px;
    width: 100%;
    height: 100vh;
    max-width: 1200px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    padding: 1rem;

    transition: all .8s ease-in-out;
}

.user-posts{
    width: 100%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    justify-content: center;

    overflow-y: auto;
    overflow-x: hidden;

}
.user-post-delete-btn{
    padding: .5rem;
    border: none;
    cursor: pointer;
    border-radius: .3rem;
}
.delete-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.user-posts::-webkit-scrollbar {
    width: 0;
}

.user-posts-cancel-btn{
    position: fixed;
    top: .3rem;
    left: .7rem;
    padding: 0.5rem;
    border: none;
    border-radius: .3rem;
}
.user-posts-container.show{
    opacity: 1;
    visibility: visible;
}